/Library
/Logs
/.idea
/*.pidb
/*.csproj
/*.unityproj
/*.sln
/*.userprefs
/*.log

/Temp
/obj
/*.cd
/log
.voidrules

/.vs
/.idea

/ProjectSettings/ProjectVersion.txt

/*.user
/Assets/AmplifyShaderEditor
/Assets/Shaders/ASE
/Assets/Temp/*
/Assets/client-code/LuaFramework/Lua/.idea

/Assets/StreamingAssets/assets
/Assets/StreamingAssets/assets.meta
/Assets/StreamingAssets/config_files
/Assets/StreamingAssets/config_files.meta


/Assets/svc.shadervariants
/Assets/svc.shadervariants.meta

/.idea
Assets/client-code/LuaFramework/.idea/
.vscode/
.cursor/
.github/


/build

/[Uu]ser[Ss]ettings/




#Wwise
*.cache
.cache/
.backup/
Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset*
PluginInfo.xml
IncrementalSoundBankData.xml
*.validationcache
*.wsettings
*.prof
*.akd
WwiseUnityIntegration_*_Src.zip
/MemoryCaptures
/Assets/StreamingAssets/Audio
/Assets/StreamingAssets/Audio.meta
conf/net_proto/.idea/

confLocalTool/output
confLocalTool/*.json
confLocalTool/client_proto

.vsconfig

UIAnalyseCache.json

Assets/SceneDependencyCache/
Assets/SceneDependencyCache.meta
/UserSettings/Layouts
Assets/ConsolePro.meta
Assets/ConsolePro/
Assets/WorldMapEditor/Materials/出生区域.mat.meta
Assets/WorldMapEditor/Materials/出生州.mat.meta
heu_session.txt
Assets/YooAssets/hybridclr
Assets/YooAssets/lua/lua_jit32.bytes
Assets/YooAssets/lua/lua_jit64.bytes
Assets/YooAssets/lua/LuaManifest.bytes

*.blob

Tools/PackageManager/test/
Tools/PackageManager/PackageManager/obj/
Tools/PackageManager/PackageManager/bin/
Tools/PackageManager/PackageBase/obj/
Tools/PackageManager/PackageBase/bin/
Tools/PackageManager/IOSPackageManager/obj/
Tools/PackageManager/IOSPackageManager/bin/
Tools/PackageManager/AndroidPackageManager/obj/
Tools/PackageManager/AndroidPackageManager/bin/
Tools/PackageManager/.idea/
HybridCLRData/HotUpdateAssemblies
HybridCLRData/HotUpdateDlls
HybridCLRData/PatchAotAssemblies
HybridCLRData/TempManifest
HybridCLRData/StrippedAOTDllsTempProj
HybridCLRData/hybridclr_repo
HybridCLRData/il2cpp_plus_repo
.emmyrc.json
emmy.config.json


